<div class="dataAllBorder01 cage_cl" style="margin-top: 9% !important; height: 24%;">
  <div class="map" id="divMap"  ></div>
</div>
<div class="dataAllBorder01 cage_cl" style="margin-top: 1.5% !important; height: 38%;">
  <div class="dataAllBorder02 video_cage">

    <img src="/video_feed?rpiName=area1" class="video_around video_around_chose" >
    <img src="/video_feed?rpiName=area2" class="video_around video_around_chose" >
    <img src="../static/images/video/boat6.jpg" class="video_around video_around_chose" >
    <img src="../static/images/video/boat7.jpg" class="video_around video_around_chose" >

  </div>
</div>
<div class="dataAllBorder01 cage_cl" style="margin-top: 1.5% !important; height: 32%; position: relative;">
  <div class="dataAllBorder02" style="padding: 1.2%; overflow: hidden">
    <div class="message_scroll_box">
      <div class="message_scroll">
        <div class="scroll_top">
          <span class="scroll_title">违规捕捞警告</span>
          <span class="scroll_level scroll_level01">一级</span>
          <a class="localize"></a>
          <span class="scroll_timer">20-06-19/9:52</span>
        </div>
        <div class="msg_cage">
          <a class="localize_title"><span><label>编号</label>：GH32101</span><span class="right"><label>位置</label>：114-22.623E / 30-39.078N</span></a>
        </div>
        <div class="msg_cage">
          <a class="localize_msg">xx市长江二桥污口处</a>
        </div>
      </div>
      <div class="message_scroll">
        <div class="scroll_top">
          <span class="scroll_title">违规捕捞警告</span>
          <span class="scroll_level scroll_level01">一级</span>
          <a class="localize"></a>
          <span class="scroll_timer">20-06-19/9:52</span>
        </div>
        <div class="msg_cage">
          <a class="localize_title"><span><label>编号</label>：GH32101</span><span class="right"><label>位置</label>：114-22.623E / 30-39.078N</span></a>
        </div>
        <div class="msg_cage">
          <a class="localize_msg">xx市长江二桥污口处</a>
        </div>
      </div>
      <div class="message_scroll">
        <div class="scroll_top">
          <span class="scroll_title">违规捕捞警告</span>
          <span class="scroll_level scroll_level01">一级</span>
          <a class="localize"></a>
          <span class="scroll_timer">20-06-19/9:52</span>
        </div>
        <div class="msg_cage">
          <a class="localize_title"><span><label>编号</label>：GH32101</span><span class="right"><label>位置</label>：114-22.623E / 30-39.078N</span></a>
        </div>
        <div class="msg_cage">
          <a class="localize_msg">xx市长江二桥污口处</a>
        </div>
      </div>
      <div class="message_scroll">
        <div class="scroll_top">
          <span class="scroll_title">违规捕捞警告</span>
          <span class="scroll_level scroll_level01">一级</span>
          <a class="localize"></a>
          <span class="scroll_timer">20-06-19/9:52</span>
        </div>
        <div class="msg_cage">
          <a class="localize_title"><span><label>编号</label>：GH32101</span><span class="right"><label>位置</label>：114-22.623E / 30-39.078N</span></a>
        </div>
        <div class="msg_cage">
          <a class="localize_msg">xx市长江二桥污口处</a>
        </div>
      </div>
    </div>
  </div>
  <div class="scroll_tool_outbox">
    <div class="scroll_tool_box">
        <a class="scroll_tool" href="#">查看历史推送</a>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/left_cage.css') }}">