<div class="dataAllBorder01 cage_cl" style="margin-top: 9% !important; height: 24%">
  <div class="dataAllBorder02" id="cage_cl" >
      <div class="analysis">今日船舶通行数量：</div>
      <ul  class="data_show_box">
          <li class="data_cage">0</li>
          <li class="data_cage">0</li>
          <li class="data_cage" style="background-image: none;">,</li>
          <li class="data_cage funct_number">1</li>
          <li class="data_cage funct_number">5</li>
          <li class="data_cage funct_number">2</li>
      </ul>
      <div class="depart_number_box">
          <ul class="depart_number_cage">
              <li class="depart_name">货船类：</li>
              <li class="depart_number">3,238</li>
          </ul>
          <ul class="depart_number_cage">
              <li class="depart_name">游船类：</li>
              <li class="depart_number">1,630</li>
          </ul>
          <ul class="depart_number_cage" style="margin-bottom: 0px;">
              <li class="depart_name">xx类：</li>
              <li class="depart_number">4,251</li>
          </ul>
          <ul class="depart_number_cage" style="margin-bottom: 0px;">
              <li class="depart_name">xx类：</li>
              <li class="depart_number">24</li>
          </ul>
      </div>
  </div>
</div>
<div class="dataAllBorder01 cage_cl check_increase" style=" margin-top: 1.5% !important;"></div>
<div class="dataAllBorder01 cage_cl check_decrease" style="margin-top: 1.5% !important;"></div>

<link rel="stylesheet" href="{{ url_for('static', filename='css/right_cage.css') }}">